<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>

        <binding name="CustomBinding">

          <security mode="None">

            <!--<message establishSecurityContext="false"/>
                      
                        <transport clientCredentialType="None" />-->
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <!--This section is optional with the new configuration model-->
      <!--introduced in .NET Framework 4.-->
      <service name="CCServiceLibary.CCService" behaviorConfiguration="CalculatorServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/CCService"  />
		  
          </baseAddresses>
        </host>

        <endpoint address=""   binding="wsHttpBinding" bindingConfiguration="CustomBinding"  contract="CCServiceLibary.ICCService"  >

          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>


        <endpoint address="http://localhost:8001/CCService/mex" binding="mexHttpBinding"  contract="IMetadataExchange"  />

      </service>

    </services>

    <behaviors>

      <serviceBehaviors>

        <behavior name="CalculatorServiceBehavior">

          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="False" />

        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="cnn" connectionString="Data Source=192.168.10.44;Initial Catalog=clockbank;User ID=sa;Password=sqlserver" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="CCFilePath" value="c:\\ghadirco\\clocktest\\cc.exe" />
    <add key="ThreadCount" value="3" />
    <add key="startTimeInterval" value="00:00:00" />
    <add key="endTimeInterval" value="01:00:00" />
    <add key="timeInterval" value="300000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

</configuration>