<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Model.Properties.Settings.rest2ConnectionString" connectionString="Data Source=.;Initial Catalog=rest2;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Model.Properties.Settings.rest2ConnectionString1"
            connectionString="Data Source=.;Initial Catalog=rest2;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>