USE [GhadirGTS]
GO
/****** Object:  Table [dbo].[TA_ConceptExpression]    Script Date: 7/1/2013 10:13:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TA_ConceptExpression](
	[Expression_ID] [int] IDENTITY(1,1) NOT NULL,
	[Parent_ID] [int] NULL,
	[ScriptBeginEn] [nvarchar](max) NULL,
	[ScriptEndEn] [nvarchar](max) NULL,
	[ScriptBeginFa] [nvarchar](300) NOT NULL,
	[ScriptEndFa] [nvarchar](300) NULL,
	[AddOnParentCreation] [bit] NOT NULL,
	[SortOrder] [tinyint] NOT NULL,
	[CandAddToFinal] [bit] NOT NULL,
	[CandEditInFinal] [bit] NOT NULL,
	[Visible] [bit] NOT NULL,
 CONSTRAINT [PK_TA_ConceptExpressions] PRIMARY KEY CLUSTERED 
(
	[Expression_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[TA_ConceptExpression] ON 

GO
INSERT [dbo].[TA_ConceptExpression] ([Expression_ID], [Parent_ID], [ScriptBeginEn], [ScriptEndEn], [ScriptBeginFa], [ScriptEndFa], [AddOnParentCreation], [SortOrder], [CandAddToFinal], [CandEditInFinal], [Visible]) VALUES (2, 27, N'if(', N')', N'اگر(', N')', 0, 0, 1, 0, 1)
GO
INSERT [dbo].[TA_ConceptExpression] ([Expression_ID], [Parent_ID], [ScriptBeginEn], [ScriptEndEn], [ScriptBeginFa], [ScriptEndFa], [AddOnParentCreation], [SortOrder], [CandAddToFinal], [CandEditInFinal], [Visible]) VALUES (3, 30, N'&&', NULL, N'و', NULL, 0, 0, 1, 0, 1)
GO
INSERT [dbo].[TA_ConceptExpression] ([Expression_ID], [Parent_ID], [ScriptBeginEn], [ScriptEndEn], [ScriptBeginFa], [ScriptEndFa], [AddOnParentCreation], [SortOrder], [CandAddToFinal], [CandEditInFinal], [Visible]) VALUES (4, 30, N'||', NULL, N'يا', NULL, 0, 0, 1, 0, 1)
GO
SET IDENTITY_INSERT [dbo].[TA_ConceptExpression] OFF
GO
ALTER TABLE [dbo].[TA_ConceptExpression] ADD  CONSTRAINT [DF_TA_ConceptExpressions_CandAddToFinal]  DEFAULT ((0)) FOR [CandAddToFinal]
GO
ALTER TABLE [dbo].[TA_ConceptExpression] ADD  CONSTRAINT [DF_TA_ConceptExpressions_CandEditInFinal]  DEFAULT ((0)) FOR [CandEditInFinal]
GO
ALTER TABLE [dbo].[TA_ConceptExpression] ADD  CONSTRAINT [DF_TA_ConceptExpression_Visible]  DEFAULT ((1)) FOR [Visible]
GO
